body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
  background-color: rgb(255, 255, 255);
}
.calcButton {
  background-color: rgba(255, 255, 255, 0.326);
  border-radius: 50%;
  color: rgb(255, 255, 255)  ;
  outline: none;
  border-style: none;
  font-weight: 600;
  font-size: 2em;
  overflow: clip;
  padding: 0px;
}

#calculatorGrid {
  display: flex;
  flex-wrap: wrap;
  width: 32em;
  height: 32em;
  gap: 1em;
  padding: 1em;
  background-color: cadetblue;
  /* outline: 0.5em solid slategrey; */
}

#screen {
  padding: 1em;
  /* box-sizing: border-box; */
  /* outline: 0.5em solid slategray; */
  width: 32em;
  height: 8em;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;  
  justify-content: end;
  /* border-radius: 15% 15% 0% 0% ; */
}

.screenText {
  color: greenyellow;
  font-size: 3em;
  font-weight: 600;
  padding-right: 1em;
  text-align: center;
}