body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
  background-color: rgb(255, 255, 255);
}
.calcButton {
  background-color: rgba(255, 255, 255, 0.300);
  border-radius: 50%;
  color: rgb(255, 255, 255)  ;
  outline: none;
  border-style: none;
  font-weight: 600;
  font-size: 2em;
  overflow: clip;
  padding: 0px;
  font-family: Silkscreen;  
  transition: background-color 1s, border-radius 0.3s;
}
.calcButton:hover{
  /* font-size: 2.2em; */
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.500);
}
.calcButton:active{
    background-color: rgba(255, 255, 255, 0.650);
}

#calculatorGrid {
  display: flex;
  flex-wrap: wrap;
  width: 32em;
  height: 32em;
  gap: 1em;
  padding: 1em;
  background-color: cadetblue;
}

#screen {
  padding: 1em;
  width: 32em;
  height: 8em;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;  
  justify-content: end;
  font-family: Silkscreen;
  text-shadow: 2px 2px 20px rgb(0, 255, 60)  ;
}

.screenText {
  color: greenyellow;
  font-size: 3em;
  font-weight: 600;
  padding-right: 1em;
  text-align: center;
}